<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
		</encoder>
	</appender>

	<root>
		<appender-ref ref="CONSOLE"  level="INFO"/>
	</root>
	<!-- show sql -->
	<logger name="cn.ifengkou.gaia.dao" level="INFO" />

	<!-- Spring framework logger -->
	<logger name="org.springframework" level="error"></logger>
	<logger name="org.mybatis" level="error"></logger>
	<logger name="net.sf.ehcache" level="error"></logger>
</configuration>
