<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifengkou.gaia.dao.CustomerPlanDao">

        <select id="get" resultType="cn.ifengkou.gaia.model.CustomerPlan" parameterType="Object">
                select customerPlanID,contractID,consPos,conStrength,slump,castMode,planCube,needDate,planDate,auditStatus
                from CustomerPlan
                where customerPlanID = #{id}
        </select>

        <select id="getAuditingPlansByCustomerID" resultType="cn.ifengkou.gaia.model.CustomerPlan" parameterType="Object">
                select p.customerPlanID,p.contractID,p.constructUnit,p.projectName,p.projectAddr
                ,p.consPos,p.conStrength,p.slump,p.castMode,p.planCube,p.needDate,p.planDate,p.linkMan,p.tel,p.auditStatus
                from CustomerPlan p,Contract c
                where c.contractID = p.contractID and c.CustomerID = #{customerID} and p.auditStatus=0 order by p.autoid
        </select>

        <select id="getAuditedPlansByCustomerID" resultType="cn.ifengkou.gaia.model.CustomerPlan" parameterType="Object">
                select p.customerPlanID,p.contractID,p.constructUnit,p.projectName,p.projectAddr
                ,p.consPos,p.conStrength,p.slump,p.castMode,p.planCube,p.needDate,p.planDate,p.linkMan,p.tel,p.auditStatus
                from CustomerPlan p,Contract c
                where c.contractID = p.contractID and c.CustomerID = #{customerID} and p.auditStatus=1 order by p.autoid
        </select>

        <select id="getPlansByContractId" resultType="cn.ifengkou.gaia.model.CustomerPlan" parameterType="Object">
                select customerPlanID,contractID,constructUnit,projectName,projectAddr
                ,consPos,conStrength,slump,castMode,planCube,needDate,planDate,linkMan,tel,auditStatus
                from CustomerPlan
                where contractID=#{contractID}
        </select>

        <insert id="add" parameterType="cn.ifengkou.gaia.model.CustomerPlan">
                insert INTO CustomerPlan(customerPlanID,contractID,constructUnit,projectName,projectAddr
                ,consPos,conStrength,slump,castMode,planCube,needDate,planDate,linkMan,tel,auditStatus,Lifecycle)
                VALUES(#{customerPlanID},#{contractID},#{constructUnit},#{projectName},#{projectAddr}
                ,#{consPos},#{conStrength},#{slump},#{castMode},#{planCube},#{needDate},#{planDate},#{linkMan},#{tel},0,0)
        </insert>

        <update id="update" parameterType="cn.ifengkou.gaia.model.CustomerPlan">
                UPDATE CustomerPlan set consPos =#{consPos},conStrength =#{conStrength},slump =#{slump},castMode =#{castMode}
                ,planCube =#{planCube},needDate =#{needDate},planDate =#{planDate}
                ,projectName=#{projectName},projectAddr=#{projectAddr}
                ,linkMan =#{linkMan},tel =#{tel}
                where customerPlanID =#{customerPlanID}
        </update>

        <delete id="delete" parameterType="Object">
                delete from CustomerPlan
                where customerPlanID =#{id}
        </delete>

        <!-- 以下为站内 sql 查询 -->
        <select id="getPlansGroupInfo" resultType="java.util.Map" parameterType="Object">
                select SUM(PlanCube) totalCube,COUNT(CustomerPlanID) planNumb
                FROM CustomerPlan
                WHERE AuditStatus=1 and buildtime > #{beginTime}
        </select>

        <select id="getAllAuditedPlans" resultType="cn.ifengkou.gaia.model.CustomerPlan" parameterType="Object">
                select projectName,constructUnit,conStrength,castMode,consPos,needDate,planDate,auditStatus,customerPlanID,contractID,builder,buildTime,auditTime
                from CustomerPlan
                where AuditStatus=1 and buildtime > #{beginTime}
        </select>
</mapper>