<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifengkou.gaia.dao.CustomerDao">

        <select id="get" resultType="java.util.Map" parameterType="Object">
                select *
                from USERS
                where CustomerID = #{id} and Lifecycle >-1
        </select>

        <select id="getByName" resultType="java.util.Map" parameterType="Object">
                select customerID id,loginname,password,CustName as username,CustType usertype,token
                from Customer
                where LoginName = #{name} and Lifecycle >-1
        </select>
        <select id="getByAccessToken" resultType="java.util.Map" parameterType="String">
                select CustomerID as id,loginname, CustName as username, CustType as usertype
                from Customer
                where Token = #{accesstoken} and Lifecycle >-1
        </select>

        <update id="genToken" parameterType="java.util.Map">
                UPDATE Customer set Token =#{token} where CustomerID =#{name}
        </update>
</mapper>