<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifengkou.gaia.dao.UserDao">

        <select id="get" resultType="java.util.Map" parameterType="Object">
                select *
                from USERS
                where UserId = #{id}
        </select>

        <select id="getByName" resultType="java.util.Map" parameterType="Object">
                select UserID,Password,TrueName,UserType,Token
                from USERS
                where UserId = #{name}
        </select>

        <select id="getUserByAccessToken" resultType="java.util.List" parameterType="String">
                select UserID,TrueName,DepartmentID,UserType,Token
                from USERS
                where Token = #{accesstoken}
        </select>

        <update id="genUserToken" parameterType="java.util.Map">
                UPDATE Users set Token =#{token} where UserID =#{name}
        </update>
</mapper>