<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifengkou.gaia.dao.UserDao">

        <select id="get" resultType="java.util.Map" parameterType="Object">
                select UserID as id ,TrueName as username,usertype,password
                from USERS
                where UserId = #{id} and Lifecycle >-1
        </select>

        <select id="getByName" resultType="java.util.Map" parameterType="Object">
                select userid as id,userid as loginname,password,truename username,usertype,token
                from USERS
                where UserId = #{name} and Lifecycle >-1
        </select>

        <select id="getByAccessToken" resultType="java.util.Map" parameterType="String">
                select UserID as id,loginname ,TrueName as username,usertype
                from USERS
                where Token = #{accesstoken} and Lifecycle >-1
        </select>

        <update id="genToken" parameterType="java.util.Map">
                UPDATE Users set Token =#{token} where UserID =#{name}
        </update>

        <update id="changePwd" parameterType="java.util.Map">
                UPDATE Users set password =#{password} where UserID =#{id}
        </update>
</mapper>